<div class="card card-table shadow mb-3 bg-white rounded">
    <div class="card-header-primary rounded d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <h5 class="my-2 text-white">Veículos</h5>
        </div>
        <div class="md-form mt-0">
            <form class="form-inline mr-auto">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" name="Search"
                        [(ngModel)]="searchTextVehicles" [ngModelOptions]="{standalone: true}" autocomplete="off">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-search fa-1.8x" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Card content -->
    <div class="card-body p-0 ">
        <div class="table-responsive dashbard-card">
            <table class="table table-striped table-hover text-black mb-0">
                <thead class="#">
                    <tr>
                        <th>Nome</th>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Tipo de Conector</th>
                        <th class="text-right align-items-right">
                            <!-- button -->
                            <div class="btn-group float-right">
                                <button type="button" title="Adicionar" class="btn btn-sm btn-primary shadow-md rounded" type="button"
                                    (click)="insertVehicles()">
                                    <i class="fa fa-plus pr-2"></i> Adicionar
                                </button>
                                <p class="p-1"></p>
                            </div>
                            <!-- end -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vehicle of vehicleList | filter:searchTextVehicles">
                        <th scope="row">{{ vehicle.name}}</th>
                        <td> {{ vehicle.model}}</td>
                        <td>{{ vehicle.type}}</td>
                        <td>{{ vehicle.connectorType}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="button" title="Editar" class="btn btn-primary shadow-md rounded mr-2"
                                    (click)="editVehicles(vehicle)">
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <button type="button" title="Excluir" class="btn btn-primary shadow-md rounded mr-2"
                                    (click)="deleteVehicle(vehicle)">
                                    <span class="fa fa-trash"> </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>