<div class="text-right mb-3" *ngIf="!dashboard">
    <button title="Adicionar veículo" class="btn btn-primary"
        (click)="newCharge()">
        <i class="fa fa-plus pr-2"></i> Adicionar Carregador
    </button>
</div>
<div>
    <div class="card card-table shadow mb-3 bg-white rounded">
        <div class="card-header-primary rounded d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <h5 class="my-2 text-white" *ngIf="dashboard">Carregadores</h5>
            </div>
            <div class="md-form mt-0">
                <form class="form-inline mr-auto">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" name="Search"
                            [(ngModel)]="searchTextCharger" [ngModelOptions]="{standalone: true}" autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search fa-1.8x" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Card content -->
        <div class="card-body p-0 ">
            <div class="table-responsive" [class.dashbard-card]="dashboard">
                <table class="table table-striped table-hover text-black mb-0">
                    <thead class="#">
                        <tr>
                            <th>Nome</th>
                            <th>MCMID</th>
                            <th>NansenID</th>
                            <th class="text-right align-items-right">
                                <!-- button -->

                                <!-- end -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let charger of chargerList | filter:searchTextCharger">
                            <th scope="row">{{ charger.name}}</th>
                            <td> {{ charger.uid}}</td>
                            <td>{{ charger.nansenID}}</td>
                            <td class="text-right">
                                <div class="btn-group" *ngIf="!dashboard">
                                    <button type="button" title="Editar" class="btn btn-primary shadow-md rounded mr-2"
                                        (click)="edit(charger)">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button type="button" title="Excluir" class="btn btn-primary shadow-md rounded mr-2"
                                        (click)="del(charger)">
                                        <span class="fa fa-trash"> </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>