$primary: #56C6C1 !default;
$primary-hover: #45a5a0 !default;
$primary-disabled: #45a5a069 !default;
$primary-disabled-text-color: #EDEDED !default;
$secondary: #EDEDED !default;

$error: #751414 !default;

