<main class="pt-3">
  <div class="container-fluid">
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-table shadow p-3 mb-2 bg-white rounded">
          <div class="card-color rounded d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <!-- <p class="my-2 text-white pr-3">Tasks(5)</p> -->
              <h5 class="my-2 text-white">Users Table</h5>
            </div>
            <div class="md-form mt-0">
              <form class="form-inline mr-auto">
                <div class="md-form my-0">
                  <input class="form-control" type="text" placeholder="Search" name="Search"
                    [(ngModel)]="searchTextUsers" [ngModelOptions]="{standalone: true}" autocomplete="off">
                  <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center ml-1" cdkFocusInitial
                    type="button">
                    <i class="fa fa-search fa-1.8x text-white" aria-hidden="true"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Card content -->
          <div class="card-body pt-3 table-striped">
            <div class="table-responsive min-card">
              <table class="table table-hover text-black mb-0">
                <thead class="#">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clientList | filter:searchTextUsers">
                    <th scope="row">{{ client.name }}</th>
                    <td> {{ client.email }}</td>
                    <td>{{ client.billingStatus }}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2"
                          (click)="editUsers(client)">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2"
                          (click)="deleteUser(client)">
                          <span class="fa fa-remove"> </span>
                        </button>
                        <button type="button" class="btn btn-primary shadow-md rounded">
                          <span class="fa fa-bolt"> </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main layout -->