<main class="pt-3">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card shadow p-3 mb-2 bg-white rounded">
          <div class="card-body pl-0 pr-2 pb-0">
            <div class="float-left white-text pl-4">
              <p>
                <i class="fa fa-bolt pr-2 align-text-top mt-n1 icon icon-blue"></i>
                <span class="font-weight-light h3">Pontos de Recarga</span>
              </p>
              <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small p-3">Total charge points</p>
            </div>
            <div class="btn-group float-right pr-3" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-sm btn-primary shadow-md rounded" id="accountsUsers">New
                Point</button>
              <p class="p-1"></p>
            </div>
            <!-- table -->
          </div>
        </div>
      </div>
    </div>
    <!-- Grid row -->
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">

        <div class="card min-cardzinho shadow p-3 mb-2 bg-white rounded">
          <div class="card-body px-2">
            <div class="float-left white-text pl-4">
              <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Cars</p>
              <p><i class="fa fa-car pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                  class="font-weight-light h3">354 780k</span></p>
            </div>
            <canvas id="horizontalBar" height="280"></canvas>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="card min-cardzinho shadow p-3 mb-2 bg-white rounded">
          <div class="card-body px-2">
            <div class="float-left white-text pl-4">
              <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Scooters</p>
              <p><i class="fa fa-motorcycle pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                  class="font-weight-light h3">14,500K</span></p>
            </div>
            <canvas id="lineChartSecond" height="280"></canvas>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">

        <div class="min-cardzinho shadow p-3 mb-2 bg-white rounded">
          <div class="card-body px-2">
            <div class="float-left white-text pl-4">
              <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Others</p>
              <p><i class="fa fa-bicycle pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                  class="font-weight-light h3">7,000K</span></p>
            </div>
            <canvas id="barChart" height="280"></canvas>
          </div>
        </div>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid open row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-table shadow p-3 mb-2 bg-white rounded">
          <div class="card-color rounded d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <!-- <p class="my-2 text-white pr-3">Tasks(5)</p> -->
              <h5 class="my-2 text-white">Users Table</h5>
            </div>
            <div class="md-form mt-0">
              <form class="form-inline mr-auto">
                <div class="md-form my-0">
                  <input class="form-control" type="text" placeholder="Search" name="Search"
                    [(ngModel)]="searchTextUsers" [ngModelOptions]="{standalone: true}" autocomplete="off">
                  <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center ml-1" cdkFocusInitial
                    type="button">
                    <i class="fa fa-search fa-1.8x text-white" aria-hidden="true"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Card content -->
          <div class="card-body pt-3 table-striped">
            <div class="table-responsive min-card">
              <table class="table table-hover text-black mb-0">
                <thead class="#">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clientList | filter:searchTextUsers">
                    <th scope="row">{{ client.name }}</th>
                    <td> {{ client.email }}</td>
                    <td>{{ client.billingStatus }}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2"
                          (click)="editUsers(client)">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2" (click)="delete(client)">
                          <span class="fa fa-remove"> </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid end row -->
      <!-- Grid column -->
      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-table shadow p-3 mb-2 bg-white rounded">
          <div class="card-color rounded d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <h5 class="my-2 text-white">Vehicles Table</h5>
            </div>
            <div class="md-form mt-0">
              <form class="form-inline mr-auto">
                <div class="md-form my-0">
                  <input class="form-control" type="text" placeholder="Search" name="Search"
                    [(ngModel)]="searchTextVehicles" [ngModelOptions]="{standalone: true}" autocomplete="off">
                  <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center ml-1" cdkFocusInitial
                    type="button">
                    <i class="fa fa-search fa-1.8x text-white" aria-hidden="true"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Card content -->
          <div class="card-body pt-3 table-striped">
            <div class="table-responsive min-card">
              <table class="table table-hover text-black mb-0">
                <thead class="#">
                  <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Vehicle</th>
                    <th>Connector</th>
                    <th>
                      <!-- button -->
                      <div class="btn-group float-right pr-3" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-primary shadow-md rounded" id="addUsers"
                          type="button" (click)="insertVehicles()">
                          <span href="" class="fa fa-plus" data-toggle="modal"
                            data-target="#modalLoginAvatar">Add</span>
                        </button>
                        <p class="p-1"></p>
                      </div>
                      <!-- end -->
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicleList | filter:searchTextVehicles">
                    <th scope="row">{{ vehicle.name}}</th>
                    <td> {{ vehicle.model}}</td>
                    <td>{{ vehicle.type}}</td>
                    <td>{{ vehicle.connectorType}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2"
                          (click)="editVehicles(vehicle)">
                          <span class="fa fa-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-primary shadow-md rounded mr-2" (click)="delete(vehicle)">
                          <span class="fa fa-remove"> </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main layout -->