<h1 mat-dialog-title>
    Esqueci minha senha
    <button type="button" (click)="closeClick()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h1>
<div mat-dialog-content>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email">
    </div>
    <div *ngIf="onError" class="error">
        <p>Precisamos do seu email para enviar o link de recuperação de senha</p>
    </div>
</div>
<div class="modal-footer justify-content-end">
    <button class="btn btn-primary text-center" cdkFocusInitial type="button" (click)="change()">
        Enviar
    </button>
</div>