<div class="left-menu">
    <img src="assets/logo.png" class="img-fluid px-4 py-2 pb-5" />
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" routerLink="clients" routerLinkActive="active">
            <i class="icon-person px-2"></i>clientes
        </li>
        <li class="list-group-item list-group-item-action" routerLink="condominiums" routerLinkActive="active">
            <fa name="building-o" class="px-2"></fa> Condominios
        </li>
        <li class="list-group-item list-group-item-action" routerLink="chargers" routerLinkActive="active">
            <i class="icon-ev_charger px-2"></i> Carregadores
        </li>
        <li class="list-group-item list-group-item-action" routerLink="vehicles" routerLinkActive="active">
            <i class="icon-car px-2"></i> Veiculos e Conectores
        </li>
        <li class="list-group-item list-group-item-action" (click)="logout()">
            <fa name="sign-out" class="px-2"></fa> Sair
        </li>
    </ul>
</div>
