<div class="text-right mb-3">
    <button title="Adicionar veículo" class="btn btn-primary"
        (click)="insertVehicles()">
        <i class="fa fa-plus pr-2"></i> Adicionar Conector
    </button>
</div>
<div>
    <div class="card card-table shadow mb-3 bg-white rounded">
        <div class="card-header-primary rounded d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <h5 class="my-2 text-white">Tipo de Conectores</h5>
            </div>
            <div class="md-form mt-0">
                <form class="form-inline mr-auto">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" name="Search"
                            [(ngModel)]="searchTextConnector" [ngModelOptions]="{standalone: true}" autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search fa-1.8x" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Card content -->
        <div class="card-body p-0 ">
            <div class="table-responsive dashbard-card">
                <table class="table table-hover text-black mb-0">
                    <thead class="#">
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Modelo</th>
                            <th>Corrent</th>
                            <th class="text-right align-items-right">
                                <!-- button -->

                                <!-- end -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let connector of connectorList | filter:searchTextConnector">
                            <th><img class="connector-type" [src]='connector.icon' /></th>
                            <th scope="row">{{ connector.name}}</th>
                            <td> {{ connector.model}}</td>
                            <td>{{ connector.current}}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="button" title="Editar" class="btn btn-primary shadow-md rounded mr-2"
                                        (click)="editConnector(connector)">
                                        <span class="fa fa-pencil"></span>
                                    </button>
                                    <button type="button" title="Excluir" class="btn btn-primary shadow-md rounded mr-2"
                                        (click)="deleteConnector(connector)">
                                        <span class="fa fa-trash"> </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>