<h5 mat-dialog-title>
    &nbsp;
    <button type="button" (click)="closeClick(false)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h5>
<div mat-dialog-content >
    <div [innerHTML]="message"></div>
</div>

<div class="modal-footer d-flex justify-content-end border-0 mt-4">
    <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" cdkFocusInitial type="button">
        <span href="#" (click)="closeClick(true)" data-target="#modalContactForm">OK</span>
    </button>

    <button *ngIf="type != 'alert'" class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" type="button">
        <span (click)="closeClick(false)" href="" class="#" data-toggle="modal"
            data-target="#modalContactForm">Cancelar</span>
    </button>
</div>