<div class="row">
    <div class="col-lg-4 col-md-12 mb-4">

        <div class="card min-cardzinho shadow p-3 mb-2 bg-white rounded">
            <div class="card-body px-2">
                <div class="float-left white-text pl-4">
                    <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Cars</p>
                    <p><i class="fa fa-car pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                            class="font-weight-light h3">354 780k</span></p>
                </div>
                <canvas id="horizontalBar" height="280"></canvas>
            </div>
        </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="card min-cardzinho shadow p-3 mb-2 bg-white rounded">
            <div class="card-body px-2">
                <div class="float-left white-text pl-4">
                    <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Scooters</p>
                    <p><i class="fa fa-motorcycle pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                            class="font-weight-light h3">14,500K</span></p>
                </div>
                <canvas id="lineChartSecond" height="280"></canvas>
            </div>
        </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">

        <div class="min-cardzinho shadow p-3 mb-2 bg-white rounded">
            <div class="card-body px-2">
                <div class="float-left white-text pl-4">
                    <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small">Total Others</p>
                    <p><i class="fa fa-bicycle pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                            class="font-weight-light h3">7,000K</span></p>
                </div>
                <canvas id="barChart" height="280"></canvas>
            </div>
        </div>
    </div>
</div>