@import "variables";

.content-page {
  margin-left: 17em;
  padding: 3em;
  position: relative;
  z-index: 1;
  max-width: calc(100% - 17em);
}

.content-body {
  padding-top: 1em;
}

.card-color {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #56c6c1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dark-theme {
  background-color: #181c30;
}
.dark-theme.fixed-sn .double-nav,
.dark-theme.fixed-sn main,
.dark-theme.fixed-sn footer {
  padding-left: 15rem;
}
.dark-theme.fixed-sn main {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 1289px) {
  .dark-theme.fixed-sn .double-nav,
  .dark-theme.fixed-sn main,
  .dark-theme.fixed-sn footer {
    padding-left: 0;
  }
}
@media (min-width: 1289px) {
  .dark-theme.fixed-sn .double-nav .button-collapse {
    display: none;
  }
}
@media (max-width: 1289px) {
  .dark-theme.fixed-sn .double-nav .button-collapse {
    display: block;
    position: relative;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.dark-theme header {
  border-top: 2px solid #311919;
}
.dark-theme header .navbar {
  box-shadow: none;
  background-color: #181c30;
}
.dark-theme .card {
  background-color: #36a2eb;
}
.dark-theme .card .card-header {
  background-color: #36a2eb;
}
.dark-theme .card.card-table .card-header {
  border-bottom: none;
}
.dark-theme .btn.btn-sm {
  padding: 0.4rem 1.5rem 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.dark-theme i.icon {
  font-size: 1.1rem;
}
.dark-theme i.icon.icon-blue {
  color: #36a2eb;
}
.cell-small {
  width: 1rem;
}
.dark-skin .side-nav .sidenav-bg:after,
.dark-skin .side-nav .sidenav-bg.mask-strong:after {
  background: #1eaa9ecc;
}
.dark-skin .side-nav .collapsible li .collapsible-header.active {
  background-color: rgba(24, 28, 48, 0.8);
}
.dark-skin .side-nav .collapsible li .collapsible-header:hover {
  background-color: rgba(24, 28, 48, 0.8);
}
.dark-skin .side-nav .collapsible li a:not(.collapsible-header):hover,
.dark-skin .side-nav .collapsible li a:not(.collapsible-header).active,
.dark-skin .side-nav .collapsible li a:not(.collapsible-header):active {
  color: #67d5ff !important;
}

.min-card {
  min-height: 600px;
  height: 600px;
  overflow-y: auto;
}

.min-list-charge {
  min-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.min-cardzinho {
  height: 150;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
