<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
        <!--Content-->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Novo Veículo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form34" class="form-control validate" placeholder="Ex: João">
                    <label data-error="wrong" data-success="right" for="form34">Nome</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-car prefix grey-text"></i>
                    <input type="email" id="form29" class="form-control validate" placeholder="Ex: example@example.com">
                    <label data-error="wrong" data-success="right" for="form29">Model</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-car prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control validate" placeholder="Ex: xxxxxxxxx-xx">
                    <label data-error="wrong" data-success="right" for="form32">Marca</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-car prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control validate" placeholder="">
                    <label data-error="wrong" data-success="right" for="form32">Veículo</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-flash prefix grey-text"></i>
                    <input type="text" id="form32" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form32">Tipo de Conector</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4"
                        placeholder="Preencha este campo apenas quando for feita alguma alteração"></textarea>
                    <label data-error="wrong" data-success="right" for="form8">Observação</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" type="button">
                    <span href="" class="#" data-toggle="modal" data-target="#modalContactForm">Cancelar</span>
                </button>

                <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" type="button">
                    <span href="" class="#" data-toggle="modal" data-target="#modalContactForm">Salvar</span>
                </button>
            </div>
        </div>

    </div>
    <!--/.Content-->
</div>
<!--Modal: Login with Avatar Form-->