<h1 mat-dialog-title>{{title}}
    <button type="button" (click)="closeClick()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h1>
<div mat-dialog-content>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Vechile Name" [(ngModel)]="vehicle.name">
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" placeholder="Brand Name" [(ngModel)]="vehicle.brand">
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" placeholder="Model Name" [(ngModel)]="vehicle.model">
    </div>
    <div class="form-group">
        <label for="connector-type">Connector Type</label>
        <select class="form-control" id="vehicle-type" [(ngModel)]="vehicle.connectorType">
            <option *ngFor="let connector of connectorList" [value]="connector" [selected]="type == vehicle.connectorType">{{connector}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="vehicle-type">Vehicle Type</label>
        <select class="form-control" id="vehicle-type" [(ngModel)]="vehicle.type">
            <option *ngFor="let type of typeList" [value]="type" [selected]="type == vehicle.type">{{type}}</option>
        </select>
    </div>
</div>

<div class="modal-footer d-flex justify-content-end">
    <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" cdkFocusInitial type="button">
        <span href="" class="#" data-toggle="modal" data-target="#modalContactForm" (click)="save()">Salvar</span>
    </button>
    <button class="btn btn-primary shadow-lg btn-rounded mb-1 text-center" type="button">
        <span href="" class="#" data-toggle="modal" data-target="#modalContactForm" (click)="closeClick()">Cancelar</span>
    </button>
</div>