<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow p-3 mb-2 bg-white rounded">
            <div class="card-body pl-0 pr-2 pb-0">
                <div class="float-left white-text pl-4">
                    <p><i class="fa fa-bolt pr-2 align-text-top mt-n1 icon icon-blue"></i><span
                            class="font-weight-light h3">Pontos de Recarga</span>
                    </p>
                    <p class="font-weight-light mb-1 mt-n1 text-black-50 font-small p-3">Total Growth Go4electric</p>
                </div>
                <div class="btn-group float-right pr-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-primary shadow-md rounded" id="accountsUsers">New
                        Point</button>
                    <p class="p-1"></p>
                </div>
                <!-- table -->
            </div>
        </div>
    </div>
</div>