<nav class="navbar navbar-light navbar-expand-lg scrolling-navbar double-nav go4-topbar">
    <!-- logo -->
    <div class="breadcrumb-dn mr-auto text-white">
        <h4 class="px-5"> Go4Electric</h4>
    </div>
    <!-- end logo -->

    <!-- dropdowns -->
    <div class="dropdown">
        <fa name="bell" class="cursor-pointer px-3" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></fa>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Notificações</a>
        </div>
    </div>
    <div class="dropdown">
        <fa name="ellipsis-v" class="cursor-pointer px-3" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></fa>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>
<!-- end dropdowns -->