@import "variables";

.go4-topbar {
  background-color: $primary;
  color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}
