@import "variables";

.selected {
    border: solid 2px $primary !important;

}

li.list-group-item {
    cursor: pointer;
    padding: 0;
    margin: 0;

    & .border-span {
        border: solid 1px transparent;
        width: 100%;
        height: 100%;
    }
}

li.list-group-item:hover{
    & .border-span {
        border: solid 1px $primary;
    }
}

img.connector-icon {
    width: 70px;
    height: 70px;
}

.connector-name {
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
}