/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "customIcons";
@import "~bootstrap/scss/bootstrap";

html
body {
  font-family: 'Source Sans Pro' !important;
}

.btn {
  border-radius: 0.7em !important;
}

.btn-primary,
.btn-primary:visited {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
}

.btn-primary:disabled {
  background-color: $primary-disabled !important;
  border-color: $primary !important;
}

.btn-secondary,
.btn-secondary:visited {
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: $secondary-hover !important;
    border-color: $secondary-hover !important;
}

.btn-secondary:disabled {
  background-color: $secondary-disabled !important;
  border-color: $secondary !important;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-success {
  color: $success;
  font-size: 1.5em;
}

.icon-error {
  color: $error;
  font-size: 1.5em;
}

.dashbard-card {
  max-height: 20em;
}

.card-header-primary {
  padding: 0.5rem 0.7rem;
  margin-bottom: 0;
  background-color: $primary;
}

h3 {
  font-size: 1.4em !important;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-footer {
  border-top: 0px !important;
}